.header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  border-bottom: 2px solid gray;
  z-index: 999;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 80px;
  background-color: #282828;
}

.header__left {
  flex: 0.25;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__left > h2 {
  color: lightgray;
}

.header__center {
  display: flex;
  flex: 0.5;
  
  justify-content: center;
  align-items: center;
}

.wager__icon {
  margin-right: 10px;
}

.header__right__nulluser {
  display: flex;
  flex: 0.25;
  justify-content: center;
  align-items: center;
}

.header__right__user {
  flex: 0.25;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header__right__user > h2 {
  font-size: 18px;
  font-weight: 400;
  color: lightgray;
}


.header__signup {
  border-radius: 2px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 5px;
  background-color: lightgray;
  cursor: pointer;
  margin-left: 15px;
}

.header__signup > h2 {
  font-size: 18px;
}

.header__signup:hover {
  background-color: aqua;
}

.header__signout__button {
  background-color: #282828;
  border: none;
  color: lightgray;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
  border-radius: 4px;
  padding: 8px 10px 8px 10px;
  margin-top: 3px;
}

.header__signout__button:hover {
  background-color: black;
}


