.register {
  align-items: center;
  background-color: #282828;
  width: 100vw;
  height: 100vh;
}

.register__header {
  color: lightgray;
  padding-left: 50px;
  padding-top: 20px;
}

.register__logo {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.register__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}

.register__body >h1 {
  color: lightgray;
}

.register__body > input {
  margin-top: 20px;
  background-color: transparent;
  color: lightgray;
  border: 2px solid lightgray;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  outline: none !important;
  width: 200px;
}

.register__body > input:focus {
  border: 2px solid aqua;
}

.register__body > input:hover {
  border: 2px solid aqua;
} 

.register__button {
  background-color: lightgray;
  color: #282828;
  margin-top: 30px;
  cursor: pointer;
  border: none;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
}

.register__button:hover {
  background-color: aqua;
}