.weeklyscores {
  flex: 0.4;
  padding: 20px;
  color:lightgray;
  border-right: 1px solid aqua;
  border-left: 1px solid aqua;
}

.weeklyscores__dropdown{
  width: fit-content;
  cursor: pointer;
}

.weeklyscores__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 40px;
}


.score__entry {
  background-color: black;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 20px;
  
}
