.weeklyscores {
  flex: 0.4;
  padding: 20px;
  color:lightgray;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}

.weeklyscores__dropdown{
  width: fit-content;
  cursor: pointer;
}

.weeklyscores__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 40px;
}


.score__entry {
  margin-top: 20px;
}

.score__body {
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.score__results {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
}

.score__status {
  text-align: center;
}

.score__update > p {
  text-align: right;
  color: gray;
  font-size: small;
}

.score__information {
  text-align: center;
}


